In [5]:
import sqlite3

CRIAR BANCO DE DADOS

In [6]:
#Criar banco de dados 
conexao = sqlite3.connect('Banco_Dados')

In [7]:
#Apontar para banco de dados
Cursor = conexao.cursor()

CREATE TABLE

In [16]:
Cursor.execute(
    'CREATE TABLE minha_tabela(Data text , Nome text , Idade real)'
)

#Fazer commit 
conexao.commit()

OperationalError: table minha_tabela already exists

INSERT INTO

In [9]:
#Inserindo valores 
Cursor.execute(
    'INSERT INTO minha_tabela values("19/10/2024","Programador","30")'
)

In [10]:
#Inserindo valores 
Cursor.execute(
    'INSERT INTO minha_tabela values("20/09/2024","Lucio","30")'
)

In [12]:
#Importar Números Aleatorios 
import random

In [13]:
#Loop
for Loop in range(10):
    Num = random.randint(10,20)

    #Inserir informação na minha tabela
    Cursor.execute(f'INSERT INTO minha_tabela Values("05/10/2024","Lucas",{Num})')

SELECT TABLE

In [14]:
#Query pra consultar todas as colunas
Consulta = Cursor.execute(' SELECT * FROM minha_tabela').fetchall()

print(Consulta)

[('19/10/2024', 'Programador', 30.0), ('20/09/2024', 'Lucio', 30.0), ('05/10/2024', 'Lucas', 15.0), ('05/10/2024', 'Lucas', 10.0), ('05/10/2024', 'Lucas', 14.0), ('05/10/2024', 'Lucas', 10.0), ('05/10/2024', 'Lucas', 12.0), ('05/10/2024', 'Lucas', 15.0), ('05/10/2024', 'Lucas', 11.0), ('05/10/2024', 'Lucas', 11.0), ('05/10/2024', 'Lucas', 10.0), ('05/10/2024', 'Lucas', 19.0)]

In [15]:
#Query pra consultar todas as colunas outra forma
Consulta = Cursor.execute(' SELECT Nome,Idade FROM minha_tabela').fetchall()

#Loop 
for Linha in Consulta:
    print(Linha)

('Programador', 30.0)
('Lucio', 30.0)
('Lucas', 15.0)
('Lucas', 10.0)
('Lucas', 14.0)
('Lucas', 10.0)
('Lucas', 12.0)
('Lucas', 15.0)
('Lucas', 11.0)
('Lucas', 11.0)
('Lucas', 10.0)
('Lucas', 19.0)

WHERE

In [17]:
#Query usando igual
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE Nome = 'Lucio'
    '''
).fetchall()

print(Consulta)

[('20/09/2024', 'Lucio', 30.0)]

In [18]:
#Query usando igual
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE Idade >= '18'
    '''
).fetchall()

print(Consulta)

[('19/10/2024', 'Programador', 30.0), ('20/09/2024', 'Lucio', 30.0), ('05/10/2024', 'Lucas', 19.0)]

BETWEEN

In [19]:
#Query usando BETWEEN
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE Idade Between 20 and  30
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('19/10/2024', 'Programador', 30.0)
('20/09/2024', 'Lucio', 30.0)

LIKE

In [20]:
#Query usando BETWEEN
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE nome LIKE'L%'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('20/09/2024', 'Lucio', 30.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 14.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 11.0)
('05/10/2024', 'Lucas', 11.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 19.0)

IN

In [21]:
#Query usando IN
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE nome IN('Lucas','Lucio')
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('20/09/2024', 'Lucio', 30.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 14.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 11.0)
('05/10/2024', 'Lucas', 11.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 19.0)

In [22]:
#Query usando IN
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE idade IN(20,17,11)
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('05/10/2024', 'Lucas', 11.0)
('05/10/2024', 'Lucas', 11.0)

In [23]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE idade = 20
        AND nome = 'Lucas'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

In [24]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE idade = 20
        AND NOT nome = 'Lucio'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

In [25]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE idade = 20
        OR nome = 'Lucas'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 14.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 11.0)
('05/10/2024', 'Lucas', 11.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 19.0)

ORDER BY

In [26]:
#Query usando ORDER BY
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        ORDER BY Idade
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 11.0)
('05/10/2024', 'Lucas', 11.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 14.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 19.0)
('19/10/2024', 'Programador', 30.0)
('20/09/2024', 'Lucio', 30.0)

In [27]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        ORDER BY Nome
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 14.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 11.0)
('05/10/2024', 'Lucas', 11.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 19.0)
('20/09/2024', 'Lucio', 30.0)
('19/10/2024', 'Programador', 30.0)