In [1]:
import sqlite3

CRIAR BANCO DE DADOS

In [2]:
#Criar banco de dados 
conexao = sqlite3.connect('Banco_Dados')

In [3]:
#Apontar para banco de dados
Cursor = conexao.cursor()

CREATE TABLE

In [4]:
Cursor.execute(
    'CREATE TABLE minha_tabela(Data text , Nome text , Idade real)'
)

#Fazer commit 
conexao.commit()

OperationalError: table minha_tabela already exists

INSERT INTO

In [5]:
#Inserindo valores 
Cursor.execute(
    'INSERT INTO minha_tabela values("19/10/2024","Programador","30")'
)

In [6]:
#Inserindo valores 
Cursor.execute(
    'INSERT INTO minha_tabela values("20/09/2024","Lucio","30")'
)

In [7]:
#Importar Números Aleatorios 
import random

In [8]:
#Loop
for Loop in range(10):
    Num = random.randint(10,20)

    #Inserir informação na minha tabela
    Cursor.execute(f'INSERT INTO minha_tabela Values("05/10/2024","Lucas",{Num})')

SELECT TABLE

In [9]:
#Query pra consultar todas as colunas
Consulta = Cursor.execute(' SELECT * FROM minha_tabela').fetchall()

print(Consulta)

[('19/10/2024', 'Programador', 30.0), ('20/09/2024', 'Lucio', 30.0), ('05/10/2024', 'Lucas', 20.0), ('05/10/2024', 'Lucas', 10.0), ('05/10/2024', 'Lucas', 15.0), ('05/10/2024', 'Lucas', 12.0), ('05/10/2024', 'Lucas', 18.0), ('05/10/2024', 'Lucas', 16.0), ('05/10/2024', 'Lucas', 19.0), ('05/10/2024', 'Lucas', 12.0), ('05/10/2024', 'Lucas', 17.0), ('05/10/2024', 'Lucas', 18.0)]

In [10]:
#Query pra consultar todas as colunas outra forma
Consulta = Cursor.execute(' SELECT Nome,Idade FROM minha_tabela').fetchall()

#Loop 
for Linha in Consulta:
    print(Linha)

('Programador', 30.0)
('Lucio', 30.0)
('Lucas', 20.0)
('Lucas', 10.0)
('Lucas', 15.0)
('Lucas', 12.0)
('Lucas', 18.0)
('Lucas', 16.0)
('Lucas', 19.0)
('Lucas', 12.0)
('Lucas', 17.0)
('Lucas', 18.0)

WHERE

In [11]:
#Query usando igual
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE Nome = 'Lucio'
    '''
).fetchall()

print(Consulta)

[('20/09/2024', 'Lucio', 30.0)]

In [12]:
#Query usando igual
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE Idade >= '18'
    '''
).fetchall()

print(Consulta)

[('19/10/2024', 'Programador', 30.0), ('20/09/2024', 'Lucio', 30.0), ('05/10/2024', 'Lucas', 20.0), ('05/10/2024', 'Lucas', 18.0), ('05/10/2024', 'Lucas', 19.0), ('05/10/2024', 'Lucas', 18.0)]

BETWEEN

In [13]:
#Query usando BETWEEN
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE Idade Between 20 and  30
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('19/10/2024', 'Programador', 30.0)
('20/09/2024', 'Lucio', 30.0)
('05/10/2024', 'Lucas', 20.0)

LIKE

In [ ]:
#Query usando BETWEEN
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE nome LIKE'L%'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

IN

In [14]:
#Query usando IN
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE nome IN('Lucas','Lucio')
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('20/09/2024', 'Lucio', 30.0)
('05/10/2024', 'Lucas', 20.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 18.0)
('05/10/2024', 'Lucas', 16.0)
('05/10/2024', 'Lucas', 19.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 17.0)
('05/10/2024', 'Lucas', 18.0)

In [15]:
#Query usando IN
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE idade IN(20,17,11)
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('05/10/2024', 'Lucas', 20.0)
('05/10/2024', 'Lucas', 17.0)

In [16]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE idade = 20
        AND nome = 'Lucas'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('05/10/2024', 'Lucas', 20.0)

In [17]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE idade = 20
        AND NOT nome = 'Lucio'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('05/10/2024', 'Lucas', 20.0)

In [18]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE idade = 20
        OR nome = 'Lucas'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('05/10/2024', 'Lucas', 20.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 18.0)
('05/10/2024', 'Lucas', 16.0)
('05/10/2024', 'Lucas', 19.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 17.0)
('05/10/2024', 'Lucas', 18.0)

ORDER BY

In [19]:
#Query usando ORDER BY
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        ORDER BY Idade
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 16.0)
('05/10/2024', 'Lucas', 17.0)
('05/10/2024', 'Lucas', 18.0)
('05/10/2024', 'Lucas', 18.0)
('05/10/2024', 'Lucas', 19.0)
('05/10/2024', 'Lucas', 20.0)
('19/10/2024', 'Programador', 30.0)
('20/09/2024', 'Lucio', 30.0)

In [20]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        ORDER BY Nome
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('05/10/2024', 'Lucas', 20.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 18.0)
('05/10/2024', 'Lucas', 16.0)
('05/10/2024', 'Lucas', 19.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 17.0)
('05/10/2024', 'Lucas', 18.0)
('20/09/2024', 'Lucio', 30.0)
('19/10/2024', 'Programador', 30.0)

In [21]:
#Preenchendo valores nulos 
Cursor.execute('INSERT INTO minha_tabela values(null,"Pedro","40")') 
Cursor.execute('INSERT INTO minha_tabela values(null,"Jorge","44")')

NULOS

In [22]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE data IS NULL
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

(None, 'Pedro', 40.0)
(None, 'Jorge', 44.0)

In [23]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE data NOT NULL
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('19/10/2024', 'Programador', 30.0)
('20/09/2024', 'Lucio', 30.0)
('05/10/2024', 'Lucas', 20.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 18.0)
('05/10/2024', 'Lucas', 16.0)
('05/10/2024', 'Lucas', 19.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 17.0)
('05/10/2024', 'Lucas', 18.0)

UPDATE

In [24]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('19/10/2024', 'Programador', 30.0)
('20/09/2024', 'Lucio', 30.0)
('05/10/2024', 'Lucas', 20.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 18.0)
('05/10/2024', 'Lucas', 16.0)
('05/10/2024', 'Lucas', 19.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 17.0)
('05/10/2024', 'Lucas', 18.0)
(None, 'Pedro', 40.0)
(None, 'Jorge', 44.0)

In [25]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        UPDATE minha_tabela
        SET data = '01/01/2001'
        WHERE data IS NULL
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

In [26]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('19/10/2024', 'Programador', 30.0)
('20/09/2024', 'Lucio', 30.0)
('05/10/2024', 'Lucas', 20.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 18.0)
('05/10/2024', 'Lucas', 16.0)
('05/10/2024', 'Lucas', 19.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 17.0)
('05/10/2024', 'Lucas', 18.0)
('01/01/2001', 'Pedro', 40.0)
('01/01/2001', 'Jorge', 44.0)

DELETE

In [27]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        DELETE from minha_tabela
        WHERE data = '01/01/2001'
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

In [28]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * from minha_tabela
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

('19/10/2024', 'Programador', 30.0)
('20/09/2024', 'Lucio', 30.0)
('05/10/2024', 'Lucas', 20.0)
('05/10/2024', 'Lucas', 10.0)
('05/10/2024', 'Lucas', 15.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 18.0)
('05/10/2024', 'Lucas', 16.0)
('05/10/2024', 'Lucas', 19.0)
('05/10/2024', 'Lucas', 12.0)
('05/10/2024', 'Lucas', 17.0)
('05/10/2024', 'Lucas', 18.0)

SELECT TOP

In [ ]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT * from minha_tabela
        LIMIT 2
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

MIN AND MAX

In [29]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT MIN(Idade) , MAX(Idade) from minha_tabela
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

(10.0, 30.0)

COUNT AVG

In [34]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT Idade,COUNT(*) from minha_tabela
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

(30.0, 12)

In [33]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT AVG(Idade) from minha_tabela
        
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

(18.083333333333332,)

In [35]:
#Query usando AND
Consulta = Cursor.execute(
    '''
        SELECT SUM(Idade) from minha_tabela
        
    '''
).fetchall()

for Linha in Consulta:
    print(Linha)

(217.0,)