In [1]:
import sqlite3

CRIAR BANCO DE DADOS

In [2]:
#Criar banco de dados 
conexao = sqlite3.connect('Banco_Dados')

In [3]:
#Apontar para banco de dados
Cursor = conexao.cursor()

CREATE TABLE

In [4]:
Cursor.execute(
    'CREATE TABLE minha_tabela(Data text , Nome text , Idade real)'
)

#Fazer commit 
conexao.commit()

OperationalError: table minha_tabela already exists

INSERT INTO

In [8]:
#Inserindo valores 
Cursor.execute(
    'INSERT INTO minha_tabela values("19/10/2024","Programador","30")'
)

In [9]:
#Inserindo valores 
Cursor.execute(
    'INSERT INTO minha_tabela values("20/09/2024","Lucio","30")'
)

In [10]:
#Importar Números Aleatorios 
import random

In [11]:
#Loop
for Loop in range(10):
    Num = random.randint(10,20)

    #Inserir informação na minha tabela
    Cursor.execute(f'INSERT INTO minha_tabela Values("05/10/2024","Lucas",{Num})')

SELECT TABLE

In [12]:
#Query pra consultar todas as colunas
Consulta = Cursor.execute(' SELECT * FROM minha_tabela').fetchall()

print(Consulta)

[('19/10/2024', 'Programador', 30.0), ('20/09/2024', 'Lucio', 30.0), ('05/10/2024', 'Lucas', 12.0), ('05/10/2024', 'Lucas', 18.0), ('05/10/2024', 'Lucas', 14.0), ('05/10/2024', 'Lucas', 13.0), ('05/10/2024', 'Lucas', 13.0), ('05/10/2024', 'Lucas', 15.0), ('05/10/2024', 'Lucas', 20.0), ('05/10/2024', 'Lucas', 17.0), ('05/10/2024', 'Lucas', 20.0), ('05/10/2024', 'Lucas', 15.0)]

In [14]:
#Query pra consultar todas as colunas outra forma
Consulta = Cursor.execute(' SELECT Nome,Idade FROM minha_tabela').fetchall()

#Loop 
for Linha in Consulta:
    print(Linha)

('Programador', 30.0)
('Lucio', 30.0)
('Lucas', 12.0)
('Lucas', 18.0)
('Lucas', 14.0)
('Lucas', 13.0)
('Lucas', 13.0)
('Lucas', 15.0)
('Lucas', 20.0)
('Lucas', 17.0)
('Lucas', 20.0)
('Lucas', 15.0)

WHERE

In [15]:
#Query usando igual
Consulta = Cursor.execute(
    '''
        SELECT * FROM minha_tabela
        WHERE Nome = 'Lucio'
    '''
).fetchall()

print(Consulta)

[('20/09/2024', 'Lucio', 30.0)]